

.navbar {
    background-color: #515A5A ; 
}

.Sobre o Tobi{
    background-color:  #626567 ;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.frases do tobi{
    background-color: slategrey;
}

.bg-footer{
    background-color: rgb(64, 224, 99);
    color: black;
}